body {
  font-family: "PT Mono", monospace;
  margin: 0 auto;
  background: #28272b;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.nav-bar {
  width: 100%;
  padding: 0 50px;
  background-color: #18161d;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  height: 60px;
  width: 80px;
}

.links a {
  text-decoration: none;
  color: #ef7537;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 10px;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
  line-height: 1.5;
}

.links a:hover {
  color: #faad39;
}

.grid {
  display: grid;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}
#certificates {
  color: white;
  padding: 30px 50px;
}
#certificates h2 {
  margin-top: 15px !important;
  text-align: center;
}
#certificates img {
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
#certificates img:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

#certificates .certify-link {
  color: #ef7537;
  font-weight: bold;
  transition: 200ms all ease-in-out;
}
#certificates .certify-link:hover {
  color: #faad39;
}
.grid-1-columns {
  grid-template-columns: 1fr;
  display: grid;
  justify-items: center;
  padding: 20px;
}

.small-image {
  width: 380px;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .logo {
    display: none;
  }
  .small-image {
    max-width: 100%;
    height: auto;
  }
}
